<div id="model-viewer">
    <model-viewer id="model" src="models/shuji/shuji.glb" ios-src="models/shuji/shuji.usdz" scale="5 5 5"
        disable-zoom alt="" ar auto-rotate autoplay animation-name="idle" camera-controls>
        <!-- <model-viewer src="./models/Astronaut.glb" ios-src="./models/Astronaut.usdz" alt="" ar auto-rotate autoplay
            camera-controls></model-viewer> -->
        <div class="animation-option">
            <label>Animations: </label>
            <select id="animation-selector">

            </select>
        </div>
        <button id="start-ar" slot="ar-button"
            style="background-color: white; border-radius: 4px; border: none; position: absolute; right: 16px; bottom: 16px; ">
            👋 Activate AR
        </button>
        <div class="custom-btn" id="animation-btns">
            <button class="animation-btn"><img src="assets/textures/pig_meet.png" alt=""></button>
        </div>
        <!-- <video src="../../assets/video/video.mp4"></video> -->
        <audio id="audio" slot="synced-audio">
            <source src="assets/audio/sound_bg.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </model-viewer>
</div>